<!doctype html>
<title>LastTip - Random recomendation from my last.fm page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='album.css') }}">



{% if suggestion %}

<div class="album-info">


    {% if suggestion.image %}
    <img class="cover-art" src="{{ suggestion.image }}" alt="Album Cover">
    {% endif %}
    <div class="details">
      <h2 class="album-title">{{ suggestion.album_name }}</h2>
      <a href="{{ suggestion.artist_url}}" class="artist">{{ suggestion.album_artist }}</a>

      <p class="play-count">{% if suggestion.playcount %}Played {{ suggestion.playcount }} times{% endif %}</p>


      {% if suggestion.url %}
      <a class="spotify-link" href="{{ suggestion.url }}" target="_blank">Listen on Spotify</a>
      {% endif %}
      <p> Get another suggestion from <a class="new-suggestion-link" href="/spotify">Spotify</a> or
      <a class="new-suggestion-link" href="/lastfm">last.fm</a></p>
    </div>
  </div>

{% endif %}





<script>
    const newSuggestionLink = document.querySelector(".new-suggestion-link");
    newSuggestionLink.addEventListener("click", function() {
      location.reload();
    });
  </script>
